html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/background/jogo_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div#background{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header.game{
    height: 25%;
    width: 100%;
    background-image: url("../img/background/header_background.png");
    background-size: cover;
    background-position: top;
}

footer.game{
    height: 25%;
    width: 100%;
    background-image: url("../img/background/footer_background.png");
    background-size: cover;
    background-position:bottom;
}

body > div#gameobjects{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

#middle_cards{
    height: 100%;
    width: 40%;
    background-image: url("../img/background/cards_Stack.png");
    background-size: cover;
    background-position: center;
}
#side_options{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

div#side_options > button{
    height: 30%;
    width: 80%;
    border-radius: 30px;
    cursor: pointer;
    background-color: #642d00;
    color: white;
    font-size: 65px;
    font-family: "Jacquard 24", system-ui;
}

div#side_options>button:hover{
    background-color: #7d4211;
}

div#side_bars{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

div.bar{
    display: flex;
    height: 20%;
    width: 70%;
    border-radius: 30px;
    overflow: hidden;
    border: 5px solid #000;
    background-color:#642d00;
    position: relative;
}

div#placares{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}
div#somaPlayer, div#somaComputador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 70%;
    background-image: url("../img/background/soma_background.png");
    background-size: cover;
    background-position: center;
    font-size: 20px;
}

#bar_enemy_pt {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(176, 150, 4);
    transition: width 0.5s ease;
    color: white;
    font-size: 20px;
    position: relative;
}

#bar_user_pt {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(177, 27, 27);
    transition: width 0.5s ease;
    color: white;
    font-size: 20px;
    position: relative;
}

h1,h2{
    margin: 0px;
}

h2{
    font-family: "Jacquard 24", system-ui;
}

h1#valueEnemy, h1#valueUser{
    margin: 0; 
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; 
    align-items: center;    
    z-index: 2; 
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.cards img {
    width: 100px;
    height: auto;
}

.cards#player_cards {
    padding: 2% 0px 0px 0px;
}

.modal {
	position: absolute;
	background: #000000e1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal#mostrarResultado{
  background: none;  
}

.modal#mostrarResultado > main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Jacquard 24", system-ui;
    font-size: 20px;
    font-weight:bold;

}
.modal main{
	width: 600px;
    background-image: url('../img/background/modal_background.png');
    background-size: cover;
    background-position: center;
	border-radius: 15px;
	padding: 20px;
	color: #000000;
    font-size: 16px;
    font-weight:lighter;
    font-family:"Jacquard 24", system-ui;
}

.modal main h2{
	margin: 0;
}

.modal#dados > main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fimdeJogo > main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}

#fimdeJogo > main > div#orgbutton{
    display: flex;
    align-items: center;
    width: 70%;
    height: 30%;
    padding: 20px 0px 0px 0px;
    justify-content: space-between;
}

#fimdeJogo > main > div#orgbutton > button{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    gap: 30px;
    background-color: #642d00;
    color: white;
    font-size: 25px;
    font-family:"Jacquard 24", system-ui;
    cursor: pointer;
}

#fimdeJogo > main > div#orgbutton > button:hover{
    background-color: #7d4211;
}
.dice {
    display: flex;
    text-align: center;
    margin: 20px;
}

.dice-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

button#dice-image-d6 {
    background-image: url('../img/dices/d6_img.png');
    background-color: #7d4211;
    cursor: pointer;
}
button#dice-image-d12 {
    background-image: url('../img/dices/d12_img.png');
    background-color: #7d4211;
    cursor: pointer;
}
button#dice-image-d20 {
    background-image: url('../img/dices/d20_img.png');
    background-color: #7d4211;
    cursor: pointer;
}

button#dice-image-d6:hover, button#dice-image-d12:hover, button#dice-image-d20:hover{
    background-color: #a05a20;
}

.dice#d6, .dice#d12, .dice#d20{
    display: flex;
    flex-direction: column;
}

#user_name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 50%;
    font-size: 70px;
    color: white;
    font-family:"Jacquard 24", system-ui;
}