.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 100;
    font-style: normal;
  }


html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


div#background {
    width: 100%;
    height: 100vh;
    background-image: url("/img/background/Menu\ principal.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:start;

}

div#title {
    font-family: "Jacquard 24", system-ui;
    padding: 0px 0px 0px 45%;
    
}

div.menu {
    display: flex;
    gap: 12px;
    flex-direction: column;  
    padding: 0px 0px 40px 10%;

}

h6{
    gap: none;
    unicode-bidi: normal;
    margin: 0px;
    font-size: 180px;
}


div.menu>button {
    width: 400px;
    height: 90px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #642d00;
    color: white;
    font-size: 55px;
    font-family:  "Jacquard 24", system-ui;
}

div.menu>button:hover {
    background-color: #7d4211;
}

.modal {
	position: absolute;
	background: #000000e1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal main{
	width: 600px;
	background-image: url('/img/background/modal_background.png');
    background-size: cover;
    background-position: center;
	border-radius: 15px;
	padding: 20px;
	color: #000000;
    font-size: 18px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif
}

.modal main h2{
	margin: 0;
}